aside{
	background:rgba(0,0,0,1.0);
	position: fixed;
	z-index: 100;
}
.logo{
	background: #F4B350;
	width: 80%;
	margin: 70px auto;
	height: 120px;
	font-family: 'Lato', sans-serif;
	overflow: hidden;
	}

.logo .name{
	font-weight: 600;
	font-size: 1.7em;
	padding: 20px 20px 5px 20px;
}
.lastname{
	margin-top: -15px;
}
.color-yellow{
	color:#F4B350;
}
.logo .symbol{
	font-weight: 900;
	font-size: 48px;
	float: right;
	margin-bottom: 0px;
	margin-right: -5px;
	margin-top: -25px;
}
#mCSB_1_scrollbar_vertical{
	opacity: .2!important;
}
nav a {
	position: relative;
	display: inline-block;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 100;
	font-size: 14px;
	display: block;
	width: 100%;
}

nav a:hover,
nav a:focus {
	outline: none;
	cursor: pointer;
}
.doughnut-container{
  width: 50%;
  padding: 10px;
  float: left;
}

.scrolling-container{
	height:100%;
	position: absolute;
	left: 200px;
	right: 0;
}
.content-wrapper{
	overflow: hidden;
	position: absolute;
	width:7500px;
} 
.content-wrapper section{
	height:100%;
	float: left;
	width: 804px;
	border:1px solid #000;
	overflow-y: auto;
	padding: 20px 20px;
}
.heading{
	font-size: 40px;
	font-family: 'Oswald', sans-serif;
    font-weight: 400;
	text-transform: uppercase;
}
.underline{
	background: #F4B350;
    height: 5px;
    border-radius: 10px;
    width: 85px;
    margin-bottom: 50px;
}

#home{
	background: url("../images/me.JPG");
	
}

.intro{
	background: rgba(0,0,0,.5);
	padding: 20px;
	color:#f7f7f7;
}
.details{
	font-weight: 400;
	list-style-type: none;
}
.details li{ 
	font-size: 14px;
    color: #666;
    font-weight: 400;
    line-height: 22px;
    padding: 12px 0px;
    border-bottom: 1px solid #cacaca;
}
.summary{
	font-weight: 400;
	list-style-type: none;
	margin-top: 40px;
}
.summary i{
	border-left: 5px solid #F4B350;
	margin-right: 10px;
}
.summary .head{
	font-size: 18px;
    padding: 15px 0;
    border-bottom: 1px solid #F4B350;
	font-family: 'Oswald', sans-serif;

}

.doughnut-container .left{
	width:50%;
  float: left;
      padding: 20px 0px;
	font-family: 'Oswald', sans-serif;
	font-size: 3rem;
-webkit-transition: font-size .2s ease-in;
-moz-transition: font-size .2s ease-in;
transition: font-size .2s ease-in;
	
}
.doughnut-container .right{
    width: 49%;
    float: left;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
    text-transform: uppercase;
}
.techname{
    font-weight: 100;
    font-size: 3rem;
	text-transform: uppercase;
}
.proficiency{
	color: #999;
    font-weight: 100;
    font-size: 1.2rem;
}
.doughnut-container:hover{
	cursor: pointer;
}
.skill-doughnut{
		color:#F4B350;
}
.doughnut-container:hover .progressbar-text{
font-size:5rem !important;
-webkit-transition: font-size .2s ease-in;
-moz-transition: font-size .2s ease-in;
transition: font-size .2s ease-in;
		color:#333!important;

 }
 .sub-headings{
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: #333;
    font-weight: 400;

 }
 .skill{
	 float: left;
	 font-weight: 300;
 }
 .skill-container{
	 padding: 20px;
 }
 .ex-logo{
	 float: left;
	 width: 30px;
	 height: 30px;
 }
.ex-title{
	 float: left;
	 width: 79%;
	 padding:0 0 0 10px;

 }
.adp{
	background: url("../images/adp.png");
		 background-size: contain;
}
.tcs{
	background: url("../images/tcs.png") center;
		 background-size: cover;
}
.is{
	background: url("../images/is.png");
		 background-size: contain;
}
.projects{
	padding: 0;
		list-style-type: none;
		    margin: 0;

}
.projects li{
	padding: 0 15px;
}
.projects li:first-child{
	font-weight: 500;
}



/* Larger than mobile */
@media (min-width: 400px) {
	.skill{
		width: 100%;
	}
	.doughnut-container{
  width: 100%;
	}	
		.doughnut-container:hover .progressbar-text{
		font-size:4rem
	}
		.doughnut-container .left{
		width: 15%;
		font-size: 2rem;
	}
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
	.skill{
		width: 100%;
	}
		.doughnut-container{
  width: 100%;
	}	
		.doughnut-container:hover .progressbar-text{
		font-size:4rem
	}
		.doughnut-container .left{
		width: 15%;
		font-size: 2rem;
	}
	

}

/* Larger than tablet */
@media (min-width: 750px) {
	.skill{
		width: 50%;
	}
		.doughnut-container{
  width: 100%;
	}	
	.doughnut-container:hover .progressbar-text{
		font-size:4rem
	}
	.doughnut-container .left{
		width: 15%;
		font-size: 2rem;
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	nav{
		width: 80px;
	}
	.skill{
		width: 33.33%;
	}
		.to-right{
		float: right;
	}
	.projects{
		width: 45%;
	}
	.doughnut-container{
  		width: 50%;
	}	
		.doughnut-container:hover .progressbar-text{
		font-size:5rem
	}
	.doughnut-container .left{
		width: 50%;
		font-size: 2rem;
	}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	aside{
		left: 0px;
		top: 0px;
		height: 100%;
		width:200px;
	}
	nav{
		width: 60%;
		margin: 0 auto;
	}
	.inner{
		padding: 40px 50px;
	}
	#about .inner{
		width: 80%;
	}
	.skill{
		width: 33.33%;
	}
	.to-right{
		float: right;
	}
	.projects{
		width: 50%;
	}
	.doughnut-container{
  		width: 50%;
	}	
	.doughnut-container:hover .progressbar-text{
		font-size:5rem
	}
	.doughnut-container .left{
		width: 50%;
		font-size: 3rem;
	}
}